#index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.avatar { border-radius: 50%; height: 90px; }

.error {
    color: red;
    font-size: 16px;
    /* 其他可能的样式 */
}
