<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>apply {{ company.name }}</title>
</head>
<body>
    <h1>apply {{ company.name }}</h1>
    <form method="POST">
        Name：<input type="text" name="name" required><br>
        Email：<input type="email" name="email" required><br>
        Proposal：<input type="text" name="proposal" required><br>
        <input type="submit" value="apply for internship">
    </form>
</body>
</html>
